<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %> ></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header class="main-header">
      <nav class="nav">
        <ul class="ul">
          <li class="item"><a href="/">Shop</a></li>
          <li class="item"><a href="/add-product">Add Product</a></li>
        </ul>
      </nav>
    </header> -->

    <%- include('includes/main.ejs') %>
    <h1 id="error">Page not found !</h1>
  </body>
</html>
