<%- include('../includes/main.ejs') %>
    <main>
      <form action="/login" method="POST" class="form-control">
        <div class="login-form">
            <div class="inner-grp2">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email"/>
            </div>
            <div class="inner-grp2">
                <label for="pass">Password:</label>
                <input type="password" id="pass" name="password">
            </div>
        </div>
        <button class="btn login" type="submit">Login</button>
      </form>
    </main>
  </body>
</html>