<%- include('../includes/main.ejs') %>

    <main class="">
        <% if (orders.length <= 0) { %>
        <h1>Your purchased items will be displayed here.</h1>
        <% } else {%>
            <ul>
                <% orders.forEach(order => { %>
                    <li>
                        <h1># <%= order.id %></h1>
                        <ul>
                            <% order.products.forEach(product => { %>
                                <li>
                                    <%= product.name %> (<%= product.orderItem.quantity %>)
                                </li>
                            <% }) %>
                        </ul>
                    </li>
                <% }) %>
            </ul>
        <% } %>
    </main>
</body>
</html>