//- doctype html
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         title Page not Found
//-         link(rel="stylesheet", href="style.css")
//-     body 
//-         header.main-header 
//-             nav.nav 
//-                 ul.ul 
//-                     li.item 
//-                         a(href="/") Shop 
//-                     li.item 
//-                         a(href="/add-product") Add Product 
//-         h1#error Page not Found !

extends layouts/main.pug

block title 
    title Page not found

block content   
    h1#error Page Not Found !!